.post-title {
    font-size: 28px;
}

.subtitle {
    font-size: 20px;
}

.post-date {
    font-size: 16px;
}

.table-of-contents {
    border: 5px double black;
    padding: 1em;
    padding-right: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.similar-items {
    border: 3px solid black;
    padding: 1em;
    padding-right: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

    
.subtitle-container {
    text-align: center;
}

#introduction img {
    display: block;
    margin: auto;
}


@media only screen and (min-width: 1224px) {
    .blog-post-container {
        display: grid;
        grid-template-columns: minmax(220px, auto);
        grid-template-rows: minmax(auto);
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "sd sd main main main main main main"
        "ft ft ft ft ft ft ft ft";
        padding: 3em;
    }
    
    #introduction {
        grid-area: hd;
    }
    
    #introduction img {
        width: 600px;
        height: 400px;
    }

    #content {
        grid-area: main;
        padding: 1em;
    }

    #sidebar {
        grid-area: sd;
    }

    .sticky {
        position: sticky;
        top: 0;
    }

    .footer {
        grid-area: ft;
    }
}

@media only screen and (max-width: 1223px) {
    .blog-post-container {
        display: grid;
        grid-template-columns: minmax(auto);
        grid-template-rows: minmax(auto);
        grid-template-areas: 
        "hd hd hd hd hd hd"
        "sd sd sd sd sd sd"
        "main main main main main main"
        "sp sp sp sp sp sp"
        "ft ft ft ft ft ft";
        padding: 1em;
    }
    
    #introduction {
        grid-area: hd;
    }
    
    #introduction img {
        width: 100%;
        height: auto;
    }

    #content {
        grid-area: main;
        padding: 1em;
    }

    #sidebar {
        grid-area: sd;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .sticky {
        width: 100%;
    }

    .footer {
        grid-area: ft;
    }
}